.main .home-section{
    height: 100vh;
    background-image: url(/img/bg2main.jpg);
    background-position: center;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 120px 1fr;
    
}
.main .home-section .main-content{
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
} 
.main .home-section .main-content .main-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .home-section .main-content .main-text-container h1{
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}
.main .home-section .main-content .main-text-container h1 span {
    color: rgb(228, 109, 11);
}
.main .home-section .main-content .main-text-container p{
    max-width: 600px;
    font-size: 20px;
    font-weight: 100;
    margin-top: 5px;
}
.main .home-section .main-content .main-text-container button {
    width: 200px;
    height: 50px;
    background: rgb(240, 144, 66);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    margin-top: 50px;
}
.main .home-section .main-content .main-image-container img{
    height: auto;
    width: 100%;
    display:flex;
    justify-items: center;
    align-items: flex-end;
    margin-top: 80px 50px;
}
.main .home-section .main-content .main-image-container {
    margin: 50px 100px;
}

@media (max-width:1200px){

}
@media (max-width:992px){

}
@media (max-width:768px){

}
@media (max-width:576px){

}